*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(assets/img/Background.svg);
    background-position: bottom;
    background-size: cover;
}

main{
    flex-grow: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.cabecalho{
    display: flex;
    align-items: center;
    padding-left: 50px;
    max-height: 100px;
    width: 100vw;
    flex-grow: 1;
    background-color: transparent;
}

.button-return{
    color: whitesmoke;
    padding: 15px 25px;
    background-color: #4361ee;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: all 200ms ease-in-out;
}

.button-return:hover{
    background-color: #25388d;
}

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    padding: 20px;
    background-color: #585863;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 10px black;
    text-align: center;
    justify-content: center;
    gap: 50px;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
    animation: pisca-pisca 15s infinite;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 3px 3px 15px 3px #4361ee;
    background-color: #212529;
    border: 1px solid #f5f5f5c5;
    height: 300px;
    width: 500px;
}

.card p{
    font-weight: 500;
    max-width: 100%;
}

@keyframes pisca-pisca{
    0%{
        box-shadow: 1px 1px 15px 5px black;
    }
    20%{
        box-shadow: 1px 1px 15px 5px #4361ee;
    }
    40%{
        box-shadow: 1px 1px 15px 5px black;
    }
    60%{
        box-shadow: 1px 1px 15px 5px #4361ee;
    }
    80%{
        box-shadow: 1px 1px 15px 5px black;
    }
    90%{
        box-shadow: 1px 1px 15px 5px #4361ee;
    }
    100%{
        box-shadow: 1px 1px 15px 5px black;
    }
}
